In [1]:
import pandas as pd
import numpy as np
import csv
import json
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [2]:
df=pd.read_csv(r"C:\Users\apltk\Downloads\archive (10)\drug200.csv")
df.head(5)

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [3]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [4]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [5]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report


features = ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']
target = 'Drug'
X = df[features]
y = df[target]


X = pd.get_dummies(X, columns=['BP', 'Cholesterol'], drop_first=True)




X = pd.get_dummies(X, columns=['Sex'], drop_first=True)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=10)


tree_model = DecisionTreeClassifier(random_state=10)


tree_model.fit(X_train, y_train)

y_pred = tree_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Decision Tree Model Accuracy: {accuracy:.2%}")

classification_rep = classification_report(y_test, y_pred)
print("Classification report:\n", classification_rep)

Decision Tree Model Accuracy: 96.00%
Classification report:
               precision    recall  f1-score   support

       drugA       0.75      1.00      0.86         6
       drugB       1.00      0.60      0.75         5
       drugC       1.00      1.00      1.00         7
       drugX       1.00      1.00      1.00        14
       drugY       1.00      1.00      1.00        18

    accuracy                           0.96        50
   macro avg       0.95      0.92      0.92        50
weighted avg       0.97      0.96      0.96        50

In [6]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [7]:
unique_drugs = df['Drug'].unique()
print(unique_drugs)

['drugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [8]:
print(X.columns)

Index(['Age', 'Na_to_K', 'BP_LOW', 'BP_NORMAL', 'Cholesterol_NORMAL', 'Sex_M'], dtype='object')

In [10]:

from sklearn.ensemble import RandomForestClassifier


forest_model = RandomForestClassifier(random_state=42)


forest_model.fit(X_train, y_train)


y_forest_pred = forest_model.predict(X_test)


accuracy_forest = accuracy_score(y_test, y_forest_pred)
print(f"Decision Tree Model Accuracy: {accuracy_forest:.2%}")


classification_rep_forest = classification_report(y_test, y_forest_pred)
print("Classification report for Random Forest:\n", classification_rep_forest)

Decision Tree Model Accuracy: 96.00%
Classification report for Random Forest:
               precision    recall  f1-score   support

       drugA       0.75      1.00      0.86         6
       drugB       1.00      0.60      0.75         5
       drugC       1.00      1.00      1.00         7
       drugX       1.00      1.00      1.00        14
       drugY       1.00      1.00      1.00        18

    accuracy                           0.96        50
   macro avg       0.95      0.92      0.92        50
weighted avg       0.97      0.96      0.96        50