In [1]:
import pandas as pd
import numpy as np
import csv
import json
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [2]:
df=pd.read_csv(r"C:\Users\apltk\Downloads\archive (8)\SOCR-HeightWeight.csv")
df.head(5)

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

In [21]:
df['BMI'] = (df['Weight(Pounds)'] / (df['Height(Inches)'] ** 2)) * 703

In [22]:
df.head(5)

   Index  Height(Inches)  Weight(Pounds)        BMI   BMI_Category
0      1        65.78331        112.9925  18.355808  Normal weight
1      2        71.51521        136.4873  18.760773  Normal weight
2      3        69.39874        153.0269  22.336747     Overweight
3      4        68.21660        142.3354  21.502458     Overweight
4      5        67.78781        144.2971  22.075458     Overweight

In [23]:
df.describe()

              Index  Height(Inches)  Weight(Pounds)           BMI
count  25000.000000    25000.000000    25000.000000  25000.000000
mean   12500.500000       67.993114      127.079421     19.319597
std     7217.022701        1.901679       11.660898      1.551746
min        1.000000       60.278360       78.014760     13.069569
25%     6250.750000       66.704397      119.308675     18.276526
50%    12500.500000       67.995700      127.157750     19.300342
75%    18750.250000       69.272958      134.892850     20.355699
max    25000.000000       75.152800      170.924000     26.021149

In [53]:
def classify_bmi(bmi):
    if bmi < 18.4:
        return 'Underweight'
    elif 18.4 <= bmi < 23:
        return 'Normal weight'
    else:
        return 'Overweight'

In [54]:
df['BMI_Category'] = df['BMI'].apply(classify_bmi)
df.head()

   Index  Height(Inches)  Weight(Pounds)        BMI   BMI_Category
0      1        65.78331        112.9925  18.355808    Underweight
1      2        71.51521        136.4873  18.760773  Normal weight
2      3        69.39874        153.0269  22.336747  Normal weight
3      4        68.21660        142.3354  21.502458  Normal weight
4      5        67.78781        144.2971  22.075458  Normal weight

In [32]:
df.head(15)

    Index  Height(Inches)  Weight(Pounds)        BMI   BMI_Category
0       1        65.78331        112.9925  18.355808    Underweight
1       2        71.51521        136.4873  18.760773  Normal weight
2       3        69.39874        153.0269  22.336747  Normal weight
3       4        68.21660        142.3354  21.502458  Normal weight
4       5        67.78781        144.2971  22.075458  Normal weight
5       6        68.69784        123.3024  18.367104    Underweight
6       7        69.80204        141.4947  20.415465  Normal weight
7       8        70.01472        136.4623  19.569931  Normal weight
8       9        67.90265        112.3723  17.133305    Underweight
9      10        66.78236        120.6672  19.020461  Normal weight
10     11        66.48769        127.4516  20.268338  Normal weight
11     12        67.62333        114.1430  17.547349    Underweight
12     13        68.30248        125.6107  18.928187  Normal weight
13     14        67.11656        122.4618  19.111580  Normal weight
14     15        68.27967        116.0866  17.504697    Underweight

In [55]:
df[df['BMI_Category'].str.contains('Overweight')].count()

Index             229
Height(Inches)    229
Weight(Pounds)    229
BMI               229
BMI_Category      229
dtype: int64

In [50]:
df[df['BMI_Category'].str.contains('Normal weight')].count()

Index             18070
Height(Inches)    18070
Weight(Pounds)    18070
BMI               18070
BMI_Category      18070
dtype: int64

In [51]:
df[df['BMI_Category'].str.contains('Underweight')].count()

Index             6892
Height(Inches)    6892
Weight(Pounds)    6892
BMI               6892
BMI_Category      6892
dtype: int64

In [56]:
# Разделение данных на признаки и метки
X = df[['Height(Inches)', 'Weight(Pounds)']]
y = df['BMI_Category']

# Разделение данных на обучающий и тестовый наборы
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Нормализация данных
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Создание модели K-Nearest Neighbors
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)

# Предсказание категорий BMI на тестовом наборе
y_pred = knn_model.predict(X_test)

# Оценка точности модели
accuracy = accuracy_score(y_test, y_pred)
print(f"Точность модели KNN: {accuracy:.2%}")

# Вывод отчета о классификации
classification_rep = classification_report(y_test, y_pred)
print("Отчет о классификации:\n", classification_rep)

Точность модели KNN: 99.58%
Отчет о классификации:
                precision    recall  f1-score   support

Normal weight       1.00      1.00      1.00      3583
   Overweight       0.98      0.89      0.93        47
  Underweight       0.99      1.00      0.99      1370

     accuracy                           1.00      5000
    macro avg       0.99      0.96      0.97      5000
 weighted avg       1.00      1.00      1.00      5000

In [59]:
from sklearn.preprocessing import StandardScaler

# Ваши значения веса и роста
your_weight = 176.37 # вес в фунтах
your_height = 70.8661  # рост в сантиметрах

# Создание DataFrame с вашими данными
your_data = pd.DataFrame({'Height(Inches)': [your_height], 'Weight(Pounds)': [your_weight]})

# Нормализация данных
your_data_normalized = scaler.transform(your_data)

# Предсказание категории BMI с использованием обученной модели
predicted_bmi_category = knn_model.predict(your_data_normalized)[0]

print(f"Предсказанный класс BMI для вас: {predicted_bmi_category}")

Предсказанный класс BMI для вас: Overweight